.sage_color_picker {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  flex: 1;
  width: 300px;
  row-gap: 10px;
  justify-content: space-between;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.sage_color_picker.sage_color_open,
.sage_color_picker[sage_data_inline="true"] {
  display: flex;
}

.sage_color_picker[sage_data_inline="true"] {
  position: relative;
}

.sage_color_gradient {
  position: relative;
  width: 100%;
  height: 200px;
  background-image: linear-gradient(rgba(0,0,0,0), #000), linear-gradient(90deg, #fff, currentColor);
  cursor: pointer;
}

.sage_color_marker {
  position: absolute;
  margin-top: -6px;
  margin-left: -6px;
  width: 12px;
  height: 12px;
  border: 1px solid #fff;
  border-radius: 50%;
  background-color: currentColor;
  cursor: pointer;
  box-shadow: inset 0 0 0 1px rgba(0,0,0);
}

.sage_color_picker input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8px;
}

.sage_color_picker input[type="range"]::-webkit-slider-thumb {
  width: 8px;
  height: 8px;
  -webkit-appearance: none;
}

.sage_color_picker input[type="range"]::-moz-range-track {
  width: 100%;
  height: 8px;
  border: 0;
}

.sage_color_picker input[type="range"]::-moz-range-thumb {
  width: 8px;
  height: 8px;
  border: 0;
}

.sage_color_hue {
  background-image: linear-gradient(to right, #f00 0%, #ff0 16.66%, #0f0 33.33%, #0ff 50%, #00f 66.66%, #f0f 83.33%, #f00 100%);
}

.sage_color_hue,
.sage_color_alpha {
  position: relative;
  width: calc(100% - 6px);
  height: 10px;
  border-radius: 5px;
}

.sage_color_gradient:hover,
.sage_color_hue:hover,
.sage_color_alpha:hover {
  box-shadow: 0 0 1px rgb(0, 0, 0);
}

.sage_color_alpha span {
  display: block;
  height: 100%;
  width: 100%;
  border-radius: inherit;
  background-image: linear-gradient(90deg, rgba(0,0,0,0), currentColor);
}

.sage_color_hue input,
.sage_color_alpha input {
  position: absolute;
  width: 100%;
  height: 16px;
  background-color: transparent;
  opacity: 0;
  cursor: pointer;
  appearance: none;
  -webkit-appearance: none;
}

.sage_color_hue div,
.sage_color_alpha div {
  position: absolute;
  margin-left: -8px;
  width: 16px;
  height: 16px;
  top: 50%;
  transform: translateY(-50%);
  border: 1px solid rgb(0, 0, 0);
  border-radius: 50%;
  background-color: currentColor;
  box-shadow: 0 0 1px rgb(0, 0, 0);
  pointer-events: none;
}

.sage_color_alpha div:before {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  background-color: currentColor;
}

.sage_color_swatches {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  padding: 12px;
  justify-content: center;
  border: 1px solid #ddd;
  border-radius: 10px;
}

.sage_color_swatches:hover {
  border: 1px solid black;
}

.sage_color_swatch {
  position: relative;
  width: 30px;
  height: 30px;
  border: 0;
  border-radius: 50%;
  color: inherit;
  text-indent: -1000px;
  white-space: nowrap;
  overflow: hidden;
  cursor: pointer;
}

.sage_color_swatch:hover {
  box-shadow: 0 0 1px rgb(0, 0, 0);
}

.sage_color_swatch:after {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  border-radius: inherit;
  background-color: currentColor;
  box-shadow: inset 0 0 0 1px rgba(0,0,0,0.2);
}

.sage_color_preview-row {
  display: flex;
  gap: 10px;
  align-items: center;  
}

.sage_color_input {
  position: relative;
  width: calc(100% - 60px);
  height: 32px;
  border: 1px solid #ddd;
  border-radius: 16px;
  color: #444;
  font-family: sans-serif;
  font-size: 14px;
  text-align: center;
  box-shadow: none;
}

.sage_color_input:hover {
  border: 1px solid black;
}

.sage_color_input:focus {
  outline: none;
  border: 1px solid #1e90ff;
}

.sage_color_preview {
  position: relative;
  height: 50px;
  width: 50px;
  border: 0;
  border-radius: 20%;
  overflow: hidden;
  box-shadow: inset 0 0 0 1px rgba(0,0,0,0.2);
}

.sage_color_preview:before,
.sage_color_preview:after {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  border: 1px solid #fff;
  border-radius: 20%;
  box-shadow: inset 0 0 0 1px rgba(0,0,0,0.2);
}

.sage_color_preview:after {
  border: 0;
  background-color: currentColor;
  box-shadow: inset 0 0 0 1px rgba(0,0,0,.1);
}

.sage_color_button-row {
  display: flex;
  flex-direction: row-reverse;
  gap: 10px;
  width: 100%;
  align-content: right;
}

.sage_color_clear,
.sage_color_apply {
    /*display: none;*/
    height: 24px;
    padding: 0 20px;
    border: 1px solid gray;
    border-radius: 12px;
    color: black;
    background-color: rgb(200, 200, 200);
    font-family: inherit;
    font-size: 12px;
    font-weight: 400;
    cursor: pointer;
}

.sage_color_clear:hover,
.sage_color_apply:hover {
  outline: none;
  border: 1px solid black;
  background-color: gray;
  color: white;
}

.sage_color_marker,
.sage_color_hue div,
.sage_color_alpha div,
.sage_color_input {
  box-sizing: border-box;
}

.sage_color_field {
  display: inline-block;
  position: relative;
  color: transparent;
}

.sage_color_field button {
  position: absolute;
  width: 30px;
  height: 100%;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  border: 0;
  color: inherit;
  text-indent: -1000px;
  white-space: nowrap;
  overflow: hidden;
  pointer-events: none;
}

.sage_color_field button:after {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  border-radius: inherit;
  background-color: currentColor;
  box-shadow: inset 0 0 1px rgba(0,0,0,.5);
}

.sage_color_alpha,
.sage_color_alpha div,
.sage_color_swatches button,
.sage_color_preview:before,
.sage_color_field button {
  background-image: repeating-linear-gradient(45deg, #aaa 25%, transparent 25%, transparent 75%, #aaa 75%, #aaa), repeating-linear-gradient(45deg, #aaa 25%, #fff 25%, #fff 75%, #aaa 75%, #aaa);
  background-position: 0 0, 4px 4px;
  background-size: 8px 8px;
}

.sage_color_marker:focus {
  outline: none;
}

.sage_color_picker[sage_data_alpha="false"] .sage_color_alpha {
  display: none;
}

.sage_color_picker[sage_data_minimal="true"] {
  padding-top: 16px;
}

.sage_color_picker[sage_data_minimal="true"] .sage_color_gradient,
.sage_color_picker[sage_data_minimal="true"] .sage_color_hue,
.sage_color_picker[sage_data_minimal="true"] .sage_color_alpha,
.sage_color_picker[sage_data_minimal="true"] .sage_color_input,
.sage_color_picker[sage_data_minimal="true"] .sage_color_preview {
  display: none;
}

/** Dark theme **/

.sage_theme_dark {
  background: #444;
}

.sage_theme_dark .sage_color_swatches button:after {
  box-shadow: inset 0 0 0 1px rgba(255,255,255,.3);
}

.sage_theme_dark .sage_color_input {
  color: #fff;
  border-color: #777;
  background-color: #555;
}

.sage_theme_dark .sage_color_input:focus {
  border-color: #1e90ff;
}

.sage_theme_dark .sage_color_preview:after {
  box-shadow: inset 0 0 0 1px rgba(255,255,255,.5);
}

.sage_theme_dark .sage_color_alpha,
.sage_theme_dark .sage_color_alpha div,
.sage_theme_dark .sage_color_swatches button,
.sage_theme_dark .sage_color_preview:before {
  background-image: repeating-linear-gradient(45deg, #666 25%, transparent 25%, transparent 75%, #888 75%, #888), repeating-linear-gradient(45deg, #888 25%, #444 25%, #444 75%, #888 75%, #888);
}

/** Light theme **/

.sage_theme_light {
  background: #fff;
}

 
.sage_context {
    display: inline-block;
    position: fixed;
    top: 0px;
    left: 0px;
    min-width: 100px;
    font-family: arial;
    font-size: 12px;
    color: #fff;
    background: #292A2D;
    border: 1px solid #333333;
    box-shadow: 4px 4px 3px -1px rgba(0, 0, 0, 0.5);
    padding: 3px 0px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
	z-index: 2000;
}

.sage_context .sage_item {
    padding: 10px 30px;
    cursor: default;
    color: inherit;
}

.sage_context .sage_item:hover {
    background: #4B4C4F;
}

.sage_context .sage_item:hover .sage_hotkey {
    color: #fff;
}

.sage_context .sage_disabled {
    color: #878B90;
}

.sage_context .sage_disabled:hover {
    background: inherit;
}

.sage_context .sage_disabled:hover .sage_hotkey {
    color: #878B90;
}

.sage_context .sage_default {
    font-weight: bold;
}

.sage_context .sage_separator {
    margin: 4px 0px;
    height: 0;
    padding: 0;
    border-top: 1px solid #454545;
}

.sage_check_mark {
	width: 10px;
	/*height: 10px;*/
	/*border-radius: 50%;*/
	
	/*background: #fff;*/
	
	display: inline-block;
	vertical-align: middle;
		
	margin-left: -20px; /* Adjust as needed, depending on desired spacing from the edge */
	margin-right: 10px; /* Adjust as needed, depending on desired spacing from the edge */
}

.sage_hotkey {
    color: #878B90;
    float: right;
}

.sage_has_subitems {
	color: #505050;
    float: right;
	vertical-align: middle;
	padding-left: 5px;
} 
.sage_canvas_container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0);
    pointer-events: none; /* Allows events to pass through */
    /*z-index: 1000;  Above other elements */
}

.sage_canvas {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0);
    pointer-events: none; /* Allows events to pass through */
   /* z-index: 1000;  Above other elements */
}

#sage_canvasGlobalContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0);
    pointer-events: none; /* Allows events to pass through */
}

#sage_mainCanvas {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0);
    pointer-events: none; /* Allows events to pass through */
}

#sage_textDialog {
    display: none;
} 
.sage_message_box {
    color: gray;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    flex: 1;
    row-gap: 10px;
    justify-content: space-between;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    box-sizing: border-box; /* Include padding in width and height calculations */
}

.sage_messagebox_text_area {
    width: 100%;
    padding: 10px;
    box-sizing: border-box; /* Include padding in width and height calculations */
}

.sage_messagebox_button_row {
    display: flex;
    flex-direction: row-reverse;
    gap: 10px;
    width: 100%;
    align-content: right;
}

.sage_messagebox_button {
    /*display: none;*/
    height: 24px;
    border: 1px solid gray;
    border-radius: 12px;
    padding: 0 20px;
    color: black;
    background-color: rgb(200, 200, 200);
    font-family: inherit;
    font-size: 12px;
    font-weight: 400;
    cursor: pointer;
}

.sage_messagebox_button:hover {
    outline: none;
    border: 1px solid black;
    background-color: gray;
    color: white;
}

#sage_message_box_dlg {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
 
.sage_tooltip {
    position: fixed;
    background: white;
    border-radius: 10px;
    padding: 10px 10px;
    font-family: arial;
    color: gray;
    border: 1px solid gray;
    z-index: 100;
}
 
.sage_modal_overlay {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2000;
}

.sage_modal_window {
    padding: 5px;
    position: absolute;
    z-index: -1;
    border-radius: 10px;
    justify-content: space-between;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    
    box-shadow: 0 0 5px rgba(0,0,0,.25), 0 5px 20px rgba(0,0,0,.1);
    background: #ffffff;
}

.sage_modal_titlebar {
    height: 40px;
    background: #333333;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px 10px 0px 0px;
}

.sage_modal_title {
    margin-left: 15px;
    font-weight: bold;
    color: #eeeeee;
}

.sage_button_close {
    font-size: 24px; /* Adjust size as needed */
    color: white; /* Adjust color as needed */
    background: none;
    cursor: pointer;
    display: flex; /* Use flexbox */
    align-items: center; /* Center vertically */
    justify-content: center; /* Center horizontally */
    height: 20px; /* Adjust height as needed */
    width: 20px; /* Adjust width as needed */
    margin: 10px;
    border: none;
    padding: 0px;
    vertical-align: middle;
    text-align: center;
}
.sage_button_close:hover {
    transform: scale(1.2);
} 
