.color-picker {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  flex: 1;
  width: 300px;
  row-gap: 10px;
  justify-content: space-between;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.color-picker.color-open,
.color-picker[data-inline="true"] {
  display: flex;
}

.color-picker[data-inline="true"] {
  position: relative;
}

.color-gradient {
  position: relative;
  width: 100%;
  height: 200px;
  background-image: linear-gradient(rgba(0,0,0,0), #000), linear-gradient(90deg, #fff, currentColor);
  cursor: pointer;
}

.color-marker {
  position: absolute;
  margin-top: -6px;
  margin-left: -6px;
  width: 12px;
  height: 12px;
  border: 1px solid #fff;
  border-radius: 50%;
  background-color: currentColor;
  cursor: pointer;
  box-shadow: inset 0 0 0 1px rgba(0,0,0);
}

.color-picker input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8px;
}

.color-picker input[type="range"]::-webkit-slider-thumb {
  width: 8px;
  height: 8px;
  -webkit-appearance: none;
}

.color-picker input[type="range"]::-moz-range-track {
  width: 100%;
  height: 8px;
  border: 0;
}

.color-picker input[type="range"]::-moz-range-thumb {
  width: 8px;
  height: 8px;
  border: 0;
}

.color-hue {
  background-image: linear-gradient(to right, #f00 0%, #ff0 16.66%, #0f0 33.33%, #0ff 50%, #00f 66.66%, #f0f 83.33%, #f00 100%);
}

.color-hue,
.color-alpha {
  position: relative;
  width: calc(100% - 6px);
  height: 10px;
  border-radius: 5px;
}

.color-gradient:hover,
.color-hue:hover,
.color-alpha:hover {
  box-shadow: 0 0 1px rgb(0, 0, 0);
}

.color-alpha span {
  display: block;
  height: 100%;
  width: 100%;
  border-radius: inherit;
  background-image: linear-gradient(90deg, rgba(0,0,0,0), currentColor);
}

.color-hue input,
.color-alpha input {
  position: absolute;
  width: 100%;
  height: 16px;
  background-color: transparent;
  opacity: 0;
  cursor: pointer;
  appearance: none;
  -webkit-appearance: none;
}

.color-hue div,
.color-alpha div {
  position: absolute;
  margin-left: -8px;
  width: 16px;
  height: 16px;
  top: 50%;
  transform: translateY(-50%);
  border: 1px solid rgb(0, 0, 0);
  border-radius: 50%;
  background-color: currentColor;
  box-shadow: 0 0 1px rgb(0, 0, 0);
  pointer-events: none;
}

.color-alpha div:before {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  background-color: currentColor;
}

.color-swatches {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  padding: 12px;
  justify-content: center;
  border: 1px solid #ddd;
  border-radius: 10px;
}

.color-swatches:hover {
  border: 1px solid black;
}

.color-swatch {
  position: relative;
  width: 30px;
  height: 30px;
  border: 0;
  border-radius: 50%;
  color: inherit;
  text-indent: -1000px;
  white-space: nowrap;
  overflow: hidden;
  cursor: pointer;
}

.color-swatch:hover {
  box-shadow: 0 0 1px rgb(0, 0, 0);
}

.color-swatch:after {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  border-radius: inherit;
  background-color: currentColor;
  box-shadow: inset 0 0 0 1px rgba(0,0,0,0.2);
}

.color-preview-row {
  display: flex;
  gap: 10px;
  align-items: center;  
}

.color-input {
  position: relative;
  width: calc(100% - 60px);
  height: 32px;
  border: 1px solid #ddd;
  border-radius: 16px;
  color: #444;
  font-family: sans-serif;
  font-size: 14px;
  text-align: center;
  box-shadow: none;
}

.color-input:hover {
  border: 1px solid black;
}

.color-input:focus {
  outline: none;
  border: 1px solid #1e90ff;
}

.color-preview {
  position: relative;
  height: 50px;
  width: 50px;
  border: 0;
  border-radius: 20%;
  overflow: hidden;
  box-shadow: inset 0 0 0 1px rgba(0,0,0,0.2);
}

.color-preview:before,
.color-preview:after {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  border: 1px solid #fff;
  border-radius: 20%;
  box-shadow: inset 0 0 0 1px rgba(0,0,0,0.2);
}

.color-preview:after {
  border: 0;
  background-color: currentColor;
  box-shadow: inset 0 0 0 1px rgba(0,0,0,.1);
}

.color-button-row {
  display: flex;
  flex-direction: row-reverse;
  gap: 10px;
  width: 100%;
  align-content: right;
}

.color-clear,
.color-apply {
  /*display: none;*/
  height: 24px;
  padding: 0 20px;
  border: 1px solid gray;
  border-radius: 12px;
  color: rgb(0, 0, 0);
  background-color: rgb(200, 200, 200);
  font-family: inherit;
  font-size: 12px;
  font-weight: 400;
  cursor: pointer;
}

.color-clear:hover,
.color-apply:hover {
  outline: none;
  border: 1px solid black;
  background-color: gray;
  color: white;
}

.color-marker,
.color-hue div,
.color-alpha div,
.color-input {
  box-sizing: border-box;
}

.color-field {
  display: inline-block;
  position: relative;
  color: transparent;
}

.color-field button {
  position: absolute;
  width: 30px;
  height: 100%;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  border: 0;
  color: inherit;
  text-indent: -1000px;
  white-space: nowrap;
  overflow: hidden;
  pointer-events: none;
}

.color-field button:after {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  border-radius: inherit;
  background-color: currentColor;
  box-shadow: inset 0 0 1px rgba(0,0,0,.5);
}

.color-alpha,
.color-alpha div,
.color-swatches button,
.color-preview:before,
.color-field button {
  background-image: repeating-linear-gradient(45deg, #aaa 25%, transparent 25%, transparent 75%, #aaa 75%, #aaa), repeating-linear-gradient(45deg, #aaa 25%, #fff 25%, #fff 75%, #aaa 75%, #aaa);
  background-position: 0 0, 4px 4px;
  background-size: 8px 8px;
}

.color-marker:focus {
  outline: none;
}

.color-picker[data-alpha="false"] .color-alpha {
  display: none;
}

.color-picker[data-minimal="true"] {
  padding-top: 16px;
}

.color-picker[data-minimal="true"] .color-gradient,
.color-picker[data-minimal="true"] .color-hue,
.color-picker[data-minimal="true"] .color-alpha,
.color-picker[data-minimal="true"] .color-input,
.color-picker[data-minimal="true"] .color-preview {
  display: none;
}

/** Dark theme **/

.theme-dark {
  background: #444;
}

.theme-dark .color-swatches button:after {
  box-shadow: inset 0 0 0 1px rgba(255,255,255,.3);
}

.theme-dark .color-input {
  color: #fff;
  border-color: #777;
  background-color: #555;
}

.theme-dark .color-input:focus {
  border-color: #1e90ff;
}

.theme-dark .color-preview:after {
  box-shadow: inset 0 0 0 1px rgba(255,255,255,.5);
}

.theme-dark .color-alpha,
.theme-dark .color-alpha div,
.theme-dark .color-swatches button,
.theme-dark .color-preview:before {
  background-image: repeating-linear-gradient(45deg, #666 25%, transparent 25%, transparent 75%, #888 75%, #888), repeating-linear-gradient(45deg, #888 25%, #444 25%, #444 75%, #888 75%, #888);
}

/** Light theme **/

.theme-light {
  background: #fff;
}

 
.context {
    display: inline-block;
    position: fixed;
    top: 0px;
    left: 0px;
    min-width: 100px;
    font-family: arial;
    font-size: 12;
    color: #fff;
    background: #292A2D;
    border: 1px solid #333333;
    box-shadow: 4px 4px 3px -1px rgba(0, 0, 0, 0.5);
    padding: 3px 0px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
	z-index: 1000;
}

.context .item {
    padding: 10px 30px;
    cursor: default;
    color: inherit;
}

.context .item:hover {
    background: #4B4C4F;
}

.context .item:hover .hotkey {
    color: #fff;
}

.context .disabled {
    color: #878B90;
}

.context .disabled:hover {
    background: inherit;
}

.context .disabled:hover .hotkey {
    color: #878B90;
}

.context .default {
    font-weight: bold;
}

.context .separator {
    margin: 4px 0px;
    height: 0;
    padding: 0;
    border-top: 1px solid #454545;
}

.check-mark {
	width: 10px;
	/*height: 10px;*/
	/*border-radius: 50%;*/
	
	/*background: #fff;*/
	
	display: inline-block;
	vertical-align: middle;
		
	margin-left: -20px; /* Adjust as needed, depending on desired spacing from the edge */
	margin-right: 10px; /* Adjust as needed, depending on desired spacing from the edge */
}

.hotkey {
    color: #878B90;
    float: right;
}

.has-subitems {
	color: #505050;
    float: right;
	vertical-align: middle;
	padding-left: 5px;
} 
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12;
}

#SAGE_canvasGlobalContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0);
    /*zIndex: -1;*/
    pointer-events: none; /* Allows events to pass through */
}

#SAGE_canvas {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0);
    /*zIndex: -1;*/
    pointer-events: none; /* Allows events to pass through */
}

#SAGE_textDialog {
    display: none;
} 
.message-box {
    color: gray;
}

#message-box-dlg {
    top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
} 
.tooltip {
    position: fixed;
    background: white;
	border-radius: 10px;
    padding: 10px 10px;
    font-family: arial;
    font-size: 12;
    color: gray;
    border: 1px solid gray;
	z-index: 100;
} 
.modal-overlay {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-window {
    position: absolute;
    z-index: 1000;
    border-radius: 10px;
    justify-content: space-between;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    
    box-shadow: 0 0 5px rgba(0,0,0,.25), 0 5px 20px rgba(0,0,0,.1);
    background: #ffffff;

    /*max-width: 500px;
    background: #ffffff;
    border: 1px solid #ffffff;
    font-size: 16px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);*/
}

.modal-titlebar {
    height: 40px;
    background: #333333;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px 10px 0px 0px;
}

.modal-title {
    margin-left: 15px;
    font-weight: bold;
    color: #eeeeee;
}

.button-close {
    font-size: 24px; /* Adjust size as needed */
    color: white; /* Adjust color as needed */
    background: none;
    cursor: pointer;
    display: inline-block;
    height: 20px;
    width: 20px;
    margin: 10px;
    border: none;
    cursor: pointer;
    padding: 0px;
    vertical-align: middle;
    text-align: center; /* Corrected property */
}

.button-close:hover {
    transform: scale(1.2);
} 
